//
// Created with the help of: http://chir.ag/projects/name-that-color
//
$cornflower-blue: #6195ED;
$cerulean: #1295EA;
$gull-gray: #9CB1BA;
$slate-gray: #69818C;
$outer-space: #323E43;
$woodsmoke: #121516;
$black: #000000;
$quill-gray: #DBDAD7;
$cotton-seed: #B7B6B3;
$gray-nickel: #B7B7B3;
$sushi: #9CBA40;
$apple: #40BA4B;
$apple-blossom: #AF4D43;
$apple-green: #E2F3EC;
$chateau-green: #40BA5D;
$ocean-green: #40BA70;
$keppel: #40BA9C;
$puerto-rico: #40BAAE;
$boston-blue: #4094BA;
$steel-blue: #407EBA;
$indigo: #4066BA;
$governor-bay: #4240BA;
$studio: #5540BA;
$fuchsia-blue: #9140BA;
$amethyst: #B840BA;
$amethyst-smoke: #A397B4;
$mulberry: #BA409A;
$blush: #BA4072;
$chestnut: #BA404F;
$crail: #BA4640;
$brown-rust: #BA6340;
$copper: #BA7940;
$tussock: #BA8940;
$roti: #BAA140;
$earls-green: #AFBA40;
$magic-mint: #A0F3C0;
$ice-cold: #A0EDF3;
$blizzard-blue: #A0DDF3;
$perano: #A0BEF3;
$portage: #A0A3F3;
$perfume: #CFA0F3;
$white: #fff;
$illusion: #F3A0E1;
$wewak: #F3A0BA;
$manhattan: #F3B8A0;
$rebel: #391405;
$dark-ebony: #391C05;
$deep-bronze: #393905;
$pine-tree: #2E3905;
$dark-fern: #173905;
$zuccini: #05391A;
$tiber: #05392F;
$deep-cove: #051939;
$black-rock: #110539;
$violet: #2C0539;
$clairvoyant: #380539;
$melanzane: #390523;
$bulgarian-rose: #39050D;
$zeus: #15110F;
$rangoon-green: #15130F;
$log-cabin: #0F150F;
$cinder: #110F15;
$thunder: #150F14;
$americano: #87756E;
$amazon: #3B7A57;
$amber: #FFBF00;
$amour: #F9EAF3;
$amulet: #7B9F80;
$anakiwa: #9DE5FF;
$antique-brass: #C88A65;
$antique-bronze: #704A07;
$anzac: #E0B646;
$apache: #DFBE6F;
$apricot: #EB9373;
$apricot-peach: #FBCEB1;
$apricot-white: #FFFEEC;
$aqua-deep: #014B43;
$aqua-forest: #5FA777;
$aqua-haze: #EDF5F5;
$aqua-island: #A1DAD7;
$aqua-spring: #EAF9F5;
$aqua-squeeze: #E8F5F2;
$aquamarine: #7FFFD4;
$aquamarine-blue: #71D9E2;
$arapawa: #110C6C;
$armadillo: #433E37;
$arrowtown: #948771;
$ash: #C6C3B5;
$asparagus: #7BA05B;
$asphalt: #130A06;
$astra: #FAEAB9;
$astral: #327DA0;
$astronaut: #283A77;
$astronaut-blue: #013E62;
$athens-gray: #EEF0F3;
$aths-special: #ECEBCE;
$atlantis: #97CD2D;
$atoll: #0A6F75;
$atomic-tangerine: #FF9966;
$au-chico: #97605D;
